<% layout('/layouts/boilerplate') -%>
<br />
<p style="color: green"><%= success%></p>
<p style="color: red"><%= error%></p>

<!-- <form method="GET" action="listings/new">
    <button>Create new</button>
  </form> -->
<div class="row row-cols-lg-3 row-cols-md-2">
  <% for (let list of listing){ %>
  <a class="a-img" href="/listings/<%=list._id%>">
    <div class="card listing-card">
      <img
        src="<%=list.image.url%>%>"
        class="card-img-top"
        alt="listing_image"
        style="height: 18rem"
      />
      <div class="card-img-overlay">techtryst</div>
      <div class="card-body">
        <p class="card-text">
          <B> <%=list.title%></B> <br />
          <%=list.price.toLocaleString("en-IN")%> /night
        </p>
      </div>
    </div>
  </a>
  <% }%>
</div>
